$global-font-family: 'nerislight', sans-serif;
$semibold-font-family: 'nerissemibold', sans-serif; //some headers
$thin-font-family: 'neristhin', sans-serif; //some headers
$black-font-family: 'nerisblack', sans-serif; //capitalized letters

$awesome-font-family: 'FontAwesome', sans-serif;


$global-color: #000000;
$alt-global-color: #575757;

$primary-color: #3a3987;
$alt-primary-color: #37368a;

$secondary-color: #f8b523;
$alt-secondary-color: #ffb700;

$default-color: #ffffff;

//encountered font sizes on main page: 13,14,16,17,18,21,22,23,28,34,48,52,56,65,132
//encountered font sizes in psd: 16,20

$global-font-size: 16px;

//$uppercase-font-size: 13px; //header and footer only

//$header-main-font-size: 18px;

//$navbar-nav-font-size: 23px;

//$slider-uppercase-font-size: 17px;

//$content-product-captions-font-size: 28px;

//$footer-main-font-size: 21px;
//$footer-basement-font-size: 14px;