@import "fonts";
@import "variables";

body {
  font-family: $global-font-family;
  font-size: $global-font-size;
  color: $global-color;
}

h1 {
  font-family: $thin-font-family;
  font-weight: bold;
  color: $default-color;
  font-size: 56px;
  letter-spacing: -3px;
  line-height: 1;
  margin: 0 0 20px;
}

header {

  h4, span {
    font-family: $black-font-family;
    font-size: 13px;
    color: $secondary-color;
    text-transform: uppercase;
  }

  .uk-navbar-nav {
    margin: -10px 0 0 40px;

    a {
      margin: 0 19px 0 0;
      background: #575757;
      padding: 0 10px;
      height: 129px;
      transform: skew(15deg);
      &.uk-active {
        background: $secondary-color;
      }
      &:hover {
        background: $secondary-color;
        transition: all 0.5s ease;
      }

      span {
        font-family: $global-font-family;
        font-size: 23px;
        color: $default-color;
        text-transform: uppercase;
        line-height: 1.2;
        transform: skew(-15deg);
      }
    }
  }
}

.tm-margin-overtop {
  margin-top: -50px;
}

.tm-z-1000 {
  z-index: 1000;
}

.uk-width-large {
  width: 560px;
}

.tm-background-primary {
  background-color: $primary-color;
}

.tm-background-default {
  background-color: $default-color;
}

.tm-pageheader {
  background: rgba(58, 57, 135, 0.65);
  padding-left: 0;

  .uk-subnav {
    margin-left: 0;
  }

  .uk-subnav > * {
    padding-left: 30px;
  }

  ul {
    background: $primary-color;
  }
  span {
    font-family: $black-font-family;
    font-size: 17px;
    text-transform: uppercase;
  }
}

.uk-light .uk-subnav > * > :first-child, .uk-subnav > * > :first-child {
  color: $default-color;
}

.tm-button-primary {
  background-color: $primary-color;
  padding: 5px 10px;

  font-family: $semibold-font-family;
  font-size: $global-font-size;
  color: $default-color;
  line-height: 1.4;
  transition: all 0.5s ease;
  text-transform: none;

  &:hover {
    background-color: #333333;

    color: $default-color;
  }
}

.tm-button-secondary {
  background-color: $secondary-color;

  font-family: $black-font-family;
  font-size: 14px;
  color: $default-color;
  text-transform: uppercase;
  line-height: 1.4;
  letter-spacing: 2px;
}

.tm-font-large {
  font-size: $large-font-size;
}

.tm-product-caption {
  h3 {
    margin: 0;

    font-family: $semibold-font-family;
    font-size: 1.17em; //или 15px?
    text-transform: uppercase;
    font-weight: normal;

    a {
      color: $primary-color;
      transition: all 0.5s ease;

      &:hover {
        color: #888888;
      }
    }
  }

  .tm-price {
    font-family: $black-font-family;
    font-size: 21px;
  }
}

.tm-tab {

  &::before {
    display: none;
  }

  li {

    a {
      height: 100px;
      font-family: $semibold-font-family;
      font-size: $global-font-size;
      color: $default-color;
      line-height: 2;
      border: none;
      outline: none;

      &:hover {
        color: $default-color;
        border: none;
      }
    }

    &.uk-active {


      a {
        background-color: $default-color;
        border: none;
        color: $primary-color;
      }
    }
  }

}