@font-face {
  font-family: 'nerissemibold';
  src: url("../fonts/Neris-SemiBold-webfont.eot");
  src: url("../fonts/Neris-SemiBold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Neris-SemiBold-webfont.woff") format("woff"), url("../fonts/Neris-SemiBold-webfont.ttf") format("truetype"), url("../fonts/Neris-SemiBold-webfont.svg#nerissemibold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'nerisblack';
  src: url("../fonts/Neris-Black-webfont.eot");
  src: url("../fonts/Neris-Black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Neris-Black-webfont.woff") format("woff"), url("../fonts/Neris-Black-webfont.ttf") format("truetype"), url("../fonts/Neris-Black-webfont.svg#nerisblack") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'nerislight';
  src: url("../fonts/Neris-Light-webfont.eot");
  src: url("../fonts/Neris-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Neris-Light-webfont.woff") format("woff"), url("../fonts/Neris-Light-webfont.ttf") format("truetype"), url("../fonts/Neris-Light-webfont.svg#nerislight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'neristhin';
  src: url("../fonts/Neris-Thin-webfont.eot");
  src: url("../fonts/Neris-Thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Neris-Thin-webfont.woff") format("woff"), url("../fonts/Neris-Thin-webfont.ttf") format("truetype"), url("../fonts/Neris-Thin-webfont.svg#neristhin") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.1.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff?v=4.1.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.1.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: "nerislight", sans-serif;
  font-size: 16px;
  color: #000000; }

h1 {
  font-family: "neristhin", sans-serif;
  font-weight: bold;
  color: #ffffff;
  font-size: 56px;
  letter-spacing: -3px;
  line-height: 1;
  margin: 0 0 20px; }
  @media (max-width: 639px) {
    h1 {
      font-size: 18px;
      letter-spacing: 0; } }

h3 {
  font-family: "nerissemibold", sans-serif;
  font-size: 30px;
  color: #000000; }

a:hover {
  text-decoration: none; }

header h4, footer h4 {
  font-family: "nerisblack", sans-serif;
  font-size: 13px;
  color: #f8b523;
  text-transform: uppercase; }
header span, footer span {
  font-size: 13px;
  color: #f8b523; }

header {
  overflow: hidden; }
  header span {
    font-family: "nerisblack", sans-serif;
    text-transform: uppercase; }
  header .uk-navbar-nav {
    margin: -10px 0 0 40px; }
    header .uk-navbar-nav a {
      margin: 0 19px 0 0;
      background: #575757;
      padding: 0 10px;
      height: 129px;
      transform: skew(15deg); }
      header .uk-navbar-nav a.uk-active {
        background: #f8b523; }
      header .uk-navbar-nav a:hover {
        background: #f8b523;
        transition: all 0.5s ease; }
      header .uk-navbar-nav a span {
        font-family: "nerislight", sans-serif;
        font-size: 23px;
        color: #ffffff;
        text-transform: uppercase;
        line-height: 1.2;
        transform: skew(-15deg); }
  header .uk-logo {
    display: inline-block;
    vertical-align: top; }

footer {
  font-size: 21px; }
  footer span {
    font-size: 18px; }

.tm-margin-overtop {
  margin-top: -70px; }

.tm-z-1000 {
  z-index: 1000; }

.uk-width-large {
  width: 560px; }

.tm-background-primary {
  background-color: #3a3987; }

.tm-background-default {
  background-color: #ffffff; }

.tm-after-full {
  position: relative; }
  .tm-after-full::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 100%;
    background-color: #ffffff; }

.tm-pageheader {
  background: rgba(58, 57, 135, 0.65); }
  .tm-pageheader .tm-subnav-divider > :nth-child(n+2):not(.uk-first-column)::before {
    content: '\f111';
    font-family: "FontAwesome";
    font-size: 10px;
    color: #f8b523;
    border: none; }
  .tm-pageheader .uk-subnav {
    margin-left: 0; }
  .tm-pageheader .uk-subnav > * {
    padding-left: 30px; }
  .tm-pageheader ul {
    background: #3a3987; }
  .tm-pageheader span {
    font-family: "nerisblack", sans-serif;
    font-size: 17px;
    text-transform: uppercase; }

.uk-light .uk-subnav > * > :first-child, .uk-subnav > * > :first-child {
  color: #ffffff; }

.tm-button-primary {
  background-color: #3a3987;
  padding: 5px 10px;
  font-family: "nerissemibold", sans-serif;
  font-size: 16px;
  color: #ffffff;
  line-height: 1.4;
  transition: all 0.5s ease;
  text-transform: none; }
  .tm-button-primary:hover {
    background-color: #333333;
    color: #ffffff; }

.tm-button-secondary {
  padding: 10px 30px;
  background-color: #f8b523;
  font-family: "nerisblack", sans-serif;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1.4;
  letter-spacing: 2px; }

.tm-font-large {
  font-size: 18px; }

.tm-product-caption h3 {
  margin: 0;
  font-family: "nerissemibold", sans-serif;
  font-size: 1.17em;
  text-transform: uppercase;
  font-weight: normal; }
  .tm-product-caption h3 a {
    color: #3a3987;
    transition: all 0.5s ease; }
    .tm-product-caption h3 a:hover {
      color: #888888; }
.tm-product-caption .tm-price {
  font-family: "nerisblack", sans-serif;
  font-size: 21px; }

.tm-tab::before {
  display: none; }
.tm-tab li a {
  height: 100px;
  font-family: "nerissemibold", sans-serif;
  font-size: 16px;
  color: #ffffff;
  line-height: 2;
  border: none;
  outline: none;
  display: flex;
  align-items: center; }
  .tm-tab li a:hover {
    color: #ffffff;
    border: none; }
  @media (max-width: 1199px) {
    .tm-tab li a {
      height: 50px;
      font-size: 14px; } }
.tm-tab li.uk-active a {
  background-color: #ffffff;
  border: none;
  color: #3a3987; }

@media (max-width: 639px) {
  .tm-switcher-trailers .tm-reset-all {
    padding: 0;
    width: 100%;
    text-align: center; } }
.tm-switcher-trailers .tm-reset-all a {
  background: #ffffff;
  border: solid 2px transparent;
  font-size: 20px;
  line-height: 2;
  color: #666666;
  text-transform: none; }
  .tm-switcher-trailers .tm-reset-all a:hover, .tm-switcher-trailers .tm-reset-all a:focus {
    background: #f8b523;
    border: solid 2px #f8b523; }
@media (max-width: 639px) {
  .tm-switcher-trailers .tm-button-select {
    width: 100%; } }
.tm-switcher-trailers .tm-button-select a {
  background: #ffffff;
  border: solid 2px #000000;
  border-radius: 3px;
  font-size: 16px;
  line-height: 2;
  color: #000000;
  text-transform: none; }
  .tm-switcher-trailers .tm-button-select a:hover, .tm-switcher-trailers .tm-button-select a:focus {
    background: #f8b523;
    border: solid 2px #f8b523; }
.tm-switcher-trailers .tm-button-select.uk-active a {
  background: #f8b523;
  border: solid 2px #f8b523; }

.tm-copyright {
  background: #272640;
  padding: 5px 0;
  font-family: "neristhin", sans-serif;
  font-size: 14px;
  color: #bbb; }
  .tm-copyright a {
    font-family: "nerissemibold", sans-serif;
    color: #efefef; }

@media (max-width: 1199px) {
  .tm-margin-overtop {
    margin-top: 0; } }
@media (max-width: 639px) {
  .tm-after-full::after {
    display: none; }

  .tm-slider-container {
    max-width: 100%;
    box-sizing: border-box; } }
@media (max-width: 639px) {
  .tm-flex-column {
    flex-direction: column;
    align-items: center; } }

.tm-table {
  font-size: 18px; }
  .tm-table th {
    font-size: 18px;
    color: #000000;
    font-weight: bold;
    text-transform: none; }

.uk-light .uk-dotnav > * > * {
  background-color: #ffffff;
  border-color: transparent; }

.uk-light .uk-dotnav > .uk-active > * {
  background-color: #f8b523;
  border-color: transparent; }

.uk-light .uk-dotnav > * > :focus, .uk-light .uk-dotnav > * > :hover {
  background-color: #f8b523;
  border-color: transparent; }

.tm-slider-desc {
  font-size: 18px; }
  .tm-slider-desc h1 {
    font-family: "nerislight", sans-serif;
    font-size: 35px;
    color: #000000;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1;
    margin: 20px 0 0; }
  .tm-slider-desc h2 {
    font-family: "nerissemibold", sans-serif;
    font-size: 60px;
    color: #f8b523;
    margin: 10px 0 0; }
  .tm-slider-desc .tm-alt-button {
    background: #3a3987;
    height: 70px;
    font-family: "nerissemibold", sans-serif;
    font-size: 24px;
    color: #ffffff;
    line-height: 70px; }

/*# sourceMappingURL=custom.css.map */
